<!-- Header/Navigation Component -->
<header class="block-header">
  <div class="block-header-layout-desktop">
    <a href="/" class="block-header-logo">
      <img src="assets/IMG_4521.jpg" alt="Cornell Cybersecurity Club logo">
    </a>
    <nav class="block-header__nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/ctf">CTF</a></li>
      </ul>
    </nav>
  </div>
</header>
